{
  "openapi": "3.1.0",
  "info": {
    "title": "ToOpen Non-Encrypted APP_KEY API",
    "version": "1.0.0",
    "description": "OpenAPI 3.1 document for the toopen endpoints when called through the APP_KEY path. Send `Authorization: Bearer <APP_KEY>` to bypass the SM4 request/response encryption branch in `app/common/middleware/UserDecryption.php`."
  },
  "servers": [
    {
      "url": "https://open251124.ai.jko.cc",
      "description": "Public toopen proxy. The gateway may strip the internal /toopen route prefix."
    },
    {
      "url": "http://localhost:8787/toopen",
      "description": "Local/internal Webman route prefix from route/toopen.php."
    }
  ],
  "security": [
    {
      "appKeyBearer": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Token and account power endpoints."
    },
    {
      "name": "Workflow",
      "description": "AI workflow creation, status and result endpoints."
    },
    {
      "name": "History",
      "description": "History and generated asset query endpoints."
    },
    {
      "name": "Volcano Material",
      "description": "Volcano-backed material management endpoints."
    },
    {
      "name": "Mobile Cloud Material",
      "description": "Mobile-cloud material management endpoints."
    },
    {
      "name": "Callback",
      "description": "Unauthenticated third-party callbacks."
    }
  ],
  "paths": {
    "/auth/getToken": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "toopenAuthGetToken",
        "summary": "登录并获取 X-token",
        "security": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/LoginRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StringData"
          }
        }
      }
    },
    "/auth/getMyPower": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "toopenAuthGetMyPower",
        "summary": "获取当前 APP_KEY 账号算力",
        "requestBody": {
          "$ref": "#/components/requestBodies/EmptyJson"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/NumberData"
          }
        }
      }
    },
    "/workflow/seedanceAiVideo": {
      "post": {
        "tags": [
          "Workflow"
        ],
        "operationId": "createSeedanceAiVideo",
        "summary": "视频生成即梦 seedance2.0",
        "requestBody": {
          "$ref": "#/components/requestBodies/SeedanceAiVideoRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          }
        }
      }
    },
    "/workflow/liveAiVideo": {
      "post": {
        "tags": [
          "Workflow"
        ],
        "operationId": "createLiveAiVideo",
        "summary": "真人版视频生成",
        "requestBody": {
          "$ref": "#/components/requestBodies/LiveAiVideoRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          }
        }
      }
    },
    "/workflow/getResult": {
      "post": {
        "tags": [
          "Workflow"
        ],
        "operationId": "getWorkflowResult",
        "summary": "获取结果",
        "requestBody": {
          "$ref": "#/components/requestBodies/RequiredIdRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          }
        }
      }
    },
    "/workflow/aiVideo": {
      "post": {
        "tags": [
          "Workflow"
        ],
        "operationId": "createAiVideo",
        "summary": "视频生成",
        "requestBody": {
          "$ref": "#/components/requestBodies/AiVideoRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          }
        }
      }
    },
    "/workflow/seedanceDiscount": {
      "post": {
        "tags": [
          "Workflow"
        ],
        "operationId": "createSeedanceDiscountVideo",
        "summary": "移动云-seedance2.0",
        "requestBody": {
          "$ref": "#/components/requestBodies/SeedanceDiscountRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          }
        }
      }
    },
    "/workflow/seedanceDiscountChannel1": {
      "post": {
        "tags": [
          "Workflow"
        ],
        "operationId": "createSeedanceDiscountChannel1Video",
        "summary": "seedance 2.0-优惠渠道1",
        "requestBody": {
          "$ref": "#/components/requestBodies/SeedanceDiscountChannel1Request"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GenericSuccess"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "appKeyBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "APP_KEY",
        "description": "Use `Authorization: Bearer <APP_KEY>`. With this header, UserDecryption uses the APP_KEY branch and does not SM4-encrypt request or response bodies."
      }
    },
    "responses": {
      "GenericSuccess": {
        "description": "Standard project success response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiResponse"
            }
          }
        }
      },
      "GenericSuccessOrNone": {
        "description": "Standard success response. Some status endpoints return string `none` when no running record exists.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "type": "string",
                          "const": "none"
                        },
                        {
                          "$ref": "#/components/schemas/FreeFormObject"
                        },
                        {
                          "$ref": "#/components/schemas/FreeFormArray"
                        }
                      ]
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "StringData": {
        "description": "Standard success response carrying a string value.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "NumberData": {
        "description": "Standard success response carrying a numeric value.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "number"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "PaginatedData": {
        "description": "Standard success response carrying a paginated service result.",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaginatedResult"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "ChunkedWorkflowStream": {
        "description": "Chunked workflow stream. Each chunk is a JSON object string.",
        "content": {
          "application/x-ndjson": {
            "schema": {
              "$ref": "#/components/schemas/WorkflowStreamChunk"
            }
          },
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WorkflowStreamChunk"
            }
          }
        }
      }
    },
    "requestBodies": {
      "EmptyJson": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": false
            }
          }
        }
      },
      "LoginRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LoginRequest"
            }
          }
        }
      },
      "RequiredIdRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/RequiredIdRequest"
            }
          }
        }
      },
      "OptionalIdRequest": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OptionalIdRequest"
            }
          }
        }
      },
      "OptionalIdStatusQuery": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OptionalIdStatusQuery"
            }
          }
        }
      },
      "InterruptRequest": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InterruptRequest"
            }
          }
        }
      },
      "AiPmRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AiPmRequest"
            }
          }
        }
      },
      "AiPetRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AiPetRequest"
            }
          }
        }
      },
      "ThreeViewCreateRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ThreeViewCreateRequest"
            }
          }
        }
      },
      "AiEmojiRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AiEmojiRequest"
            }
          }
        }
      },
      "AiEmojiDynamicRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AiEmojiDynamicRequest"
            }
          }
        }
      },
      "EcommerceChangeBackgroundRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EcommerceChangeBackgroundRequest"
            }
          }
        }
      },
      "EcommerceModelShowRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EcommerceModelShowRequest"
            }
          }
        }
      },
      "AiVideoScriptRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AiVideoScriptRequest"
            }
          }
        }
      },
      "AiVideoRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AiVideoRequest"
            }
          }
        }
      },
      "TariffRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TariffRequest"
            }
          }
        }
      },
      "AiWeChatPushRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AiWeChatPushRequest"
            }
          }
        }
      },
      "EmojiPackageStatusRequest": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/EmojiPackageStatusRequest"
            }
          }
        }
      },
      "LiveAiVideoRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LiveAiVideoRequest"
            }
          }
        }
      },
      "SeedanceAiVideoRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SeedanceAiVideoRequest"
            }
          }
        }
      },
      "SeedanceDiscountRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SeedanceDiscountRequest"
            }
          }
        }
      },
      "SeedanceDiscountChannel1Request": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SeedanceDiscountChannel1Request"
            }
          }
        }
      },
      "AiImageRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AiImageRequest"
            }
          }
        }
      },
      "HistoryListRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HistoryListRequest"
            }
          }
        }
      },
      "HistoryDetailsRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HistoryDetailsRequest"
            }
          }
        }
      },
      "HistoryImageListRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/HistoryImageListRequest"
            }
          }
        }
      },
      "AssetListRequest": {
        "required": false,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AssetListRequest"
            }
          }
        }
      },
      "AssetUploadRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AssetUploadRequest"
            }
          }
        }
      },
      "AssetEditRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AssetEditRequest"
            }
          }
        }
      },
      "DeleteIdsRequest": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeleteIdsRequest"
            }
          }
        }
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "required": [
          "status",
          "message",
          "data"
        ],
        "properties": {
          "status": {
            "type": "integer",
            "description": "Project business status. Success uses 100.",
            "examples": [
              100
            ]
          },
          "message": {
            "type": "string",
            "examples": [
              "操作成功"
            ]
          },
          "data": true
        }
      },
      "FreeFormObject": {
        "type": "object",
        "additionalProperties": true
      },
      "FreeFormArray": {
        "type": "array",
        "items": true
      },
      "PaginatedResult": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FreeFormObject"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          }
        }
      },
      "PageRequest": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "default": 1,
            "minimum": 1,
            "description": "分页 ID."
          },
          "size": {
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "description": "分页数量."
          }
        }
      },
      "RequiredIdRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "OptionalIdRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "default": 0
          }
        }
      },
      "OptionalIdStatusQuery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "default": 0
          },
          "status": {
            "type": "string",
            "default": "Running"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "account",
          "password"
        ],
        "properties": {
          "account": {
            "type": "string",
            "description": "用户名."
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 16,
            "description": "密码."
          },
          "is_true": {
            "type": "integer",
            "default": 0,
            "description": "是否强制登录."
          }
        }
      },
      "WorkflowCostFields": {
        "type": "object",
        "properties": {
          "integral": {
            "type": "integer",
            "description": "算力，由鉴权/计费中间件注入时可省略."
          },
          "user_integral": {
            "type": "integer",
            "description": "用户当前算力，由鉴权/计费中间件注入时可省略."
          },
          "integral_title": {
            "type": "string",
            "description": "算力标题，由鉴权/计费中间件注入时可省略."
          }
        }
      },
      "WorkflowUserContext": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "integer",
            "description": "用户 ID. Usually injected from APP_KEY context."
          },
          "website_id": {
            "type": "integer",
            "description": "站点 ID. Usually injected from APP_KEY context."
          }
        }
      },
      "ReferenceUrl": {
        "oneOf": [
          {
            "type": "string",
            "format": "uri"
          },
          {
            "type": "integer",
            "description": "Existing material ID."
          }
        ]
      },
      "ReferenceUrls": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ReferenceUrl"
        },
        "description": "Reference media URLs or material IDs. Controllers require this to be an array when present."
      },
      "AspectRatio5": {
        "type": "integer",
        "enum": [
          1,
          2,
          3,
          4,
          5
        ],
        "description": "1=16:9, 2=9:16, 3=1:1, 4=4:3, 5=3:4."
      },
      "AspectRatio3": {
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "description": "1=16:9, 2=9:16, 3=1:1."
      },
      "Resolution123": {
        "type": "integer",
        "enum": [
          1,
          2,
          3
        ],
        "description": "1=480p/720P family, 2=720p/1080P family, 3=1080p/2K family depending on endpoint."
      },
      "Resolution1236": {
        "type": "integer",
        "enum": [
          1,
          2,
          3,
          6
        ],
        "description": "1=480p, 2=720p, 3=1080p, 6=4K."
      },
      "TaskCreated": {
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "examples": [
              "Running"
            ]
          }
        }
      },
      "WorkflowStreamChunk": {
        "type": "object",
        "required": [
          "content",
          "conversation_id",
          "id"
        ],
        "properties": {
          "content": {
            "type": "string"
          },
          "conversation_id": {
            "type": "integer",
            "default": 0
          },
          "id": {
            "type": "integer"
          }
        }
      },
      "AiPmRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "object",
                "required": [
                  "brand",
                  "functional_highlight",
                  "media_platforms",
                  "product_price",
                  "sales_region",
                  "script_language",
                  "single_video_budget"
                ],
                "properties": {
                  "brand": {
                    "type": "string"
                  },
                  "functional_highlight": {
                    "type": "string"
                  },
                  "media_platforms": {
                    "type": "string"
                  },
                  "product_images": {
                    "type": "string",
                    "default": ""
                  },
                  "product_price": {
                    "type": "string"
                  },
                  "sales_region": {
                    "type": "string"
                  },
                  "script_language": {
                    "type": "string"
                  },
                  "single_video_budget": {
                    "type": "string"
                  },
                  "product_link": {
                    "type": "string",
                    "default": ""
                  }
                }
              }
            }
          }
        ]
      },
      "AiPetRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "object",
                "required": [
                  "options"
                ],
                "properties": {
                  "options": {
                    "type": "object",
                    "required": [
                      "topic",
                      "role"
                    ],
                    "properties": {
                      "topic": {
                        "type": "string"
                      },
                      "reference_images": true,
                      "watermark": {
                        "type": "boolean",
                        "default": true
                      },
                      "size": {
                        "type": "string",
                        "default": ""
                      },
                      "max_images": {
                        "type": "integer",
                        "default": 1
                      },
                      "role": {
                        "type": "string"
                      },
                      "age_style": {
                        "type": "string",
                        "default": ""
                      },
                      "proportion": {
                        "type": "string",
                        "default": ""
                      },
                      "expression": {
                        "type": "string",
                        "default": ""
                      },
                      "posture": {
                        "type": "string",
                        "default": ""
                      },
                      "top_clothing": {
                        "type": "string",
                        "default": ""
                      },
                      "bottom_clothing": {
                        "type": "string",
                        "default": ""
                      },
                      "shoes": {
                        "type": "string",
                        "default": ""
                      },
                      "hat": {
                        "type": "string",
                        "default": ""
                      },
                      "topic_item": {
                        "type": "string",
                        "default": ""
                      },
                      "main_color": {
                        "type": "string",
                        "default": ""
                      },
                      "sub_color": {
                        "type": "string",
                        "default": ""
                      },
                      "material": {
                        "type": "string",
                        "default": ""
                      },
                      "role_style": {
                        "type": "string",
                        "default": ""
                      },
                      "background": {
                        "type": "string",
                        "default": ""
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "ThreeViewCreateRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkflowUserContext"
              },
              {
                "$ref": "#/components/schemas/WorkflowCostFields"
              },
              {
                "type": "object",
                "required": [
                  "images"
                ],
                "properties": {
                  "images": {
                    "type": "string",
                    "description": "产品图片/上级历史 ID."
                  }
                }
              }
            ]
          }
        }
      },
      "AiEmojiRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowUserContext"
                  },
                  {
                    "type": "object",
                    "required": [
                      "request_json"
                    ],
                    "properties": {
                      "request_json": {
                        "type": "object",
                        "required": [
                          "image"
                        ],
                        "properties": {
                          "action": {
                            "type": "string",
                            "default": ""
                          },
                          "keep": {
                            "type": "string",
                            "default": ""
                          },
                          "num_Outputs": {
                            "type": "integer",
                            "default": 3
                          },
                          "object": {
                            "type": "string",
                            "default": ""
                          },
                          "other": {
                            "type": "string",
                            "default": ""
                          },
                          "scene": {
                            "type": "string",
                            "default": ""
                          },
                          "style": {
                            "type": "string",
                            "default": ""
                          },
                          "text": {
                            "type": "string",
                            "default": ""
                          },
                          "theme": {
                            "type": "string",
                            "default": ""
                          },
                          "image": {
                            "type": "string",
                            "format": "uri"
                          },
                          "clothing": {
                            "type": "string",
                            "default": ""
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "AiEmojiDynamicRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowUserContext"
                  },
                  {
                    "type": "object",
                    "required": [
                      "request_json"
                    ],
                    "properties": {
                      "request_json": {
                        "type": "object",
                        "required": [
                          "image"
                        ],
                        "properties": {
                          "description": {
                            "type": "string",
                            "default": ""
                          },
                          "quality": {
                            "type": "integer",
                            "default": 1
                          },
                          "image": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "EcommerceChangeBackgroundRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkflowUserContext"
              },
              {
                "$ref": "#/components/schemas/WorkflowCostFields"
              },
              {
                "type": "object",
                "required": [
                  "request_json"
                ],
                "properties": {
                  "type": {
                    "type": "integer",
                    "default": 1
                  },
                  "request_json": {
                    "type": "object",
                    "required": [
                      "description",
                      "production_img"
                    ],
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "production_img": {
                        "type": "string",
                        "format": "uri"
                      },
                      "background_img": {
                        "type": "string",
                        "format": "uri",
                        "default": ""
                      }
                    }
                  }
                }
              }
            ]
          }
        }
      },
      "EcommerceModelShowRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkflowUserContext"
              },
              {
                "$ref": "#/components/schemas/WorkflowCostFields"
              },
              {
                "type": "object",
                "required": [
                  "request_json"
                ],
                "properties": {
                  "type": {
                    "type": "integer",
                    "default": 2
                  },
                  "request_json": {
                    "type": "object",
                    "required": [
                      "description",
                      "production_img",
                      "model_img"
                    ],
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "production_img": {
                        "type": "string",
                        "format": "uri"
                      },
                      "model_img": {
                        "type": "string",
                        "format": "uri"
                      },
                      "background_img": {
                        "type": "string",
                        "format": "uri",
                        "default": ""
                      },
                      "picture_proportion": {
                        "type": "integer",
                        "default": 0
                      }
                    }
                  }
                }
              }
            ]
          }
        }
      },
      "AiVideoScriptRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowUserContext"
                  },
                  {
                    "type": "object",
                    "required": [
                      "request_json"
                    ],
                    "properties": {
                      "type": {
                        "type": "integer",
                        "default": 6
                      },
                      "request_json": {
                        "type": "object",
                        "required": [
                          "image",
                          "product",
                          "key_features"
                        ],
                        "properties": {
                          "image": {
                            "type": "string",
                            "format": "uri"
                          },
                          "product": {
                            "type": "string"
                          },
                          "key_features": {
                            "type": "string"
                          },
                          "video_length": {
                            "type": "integer",
                            "default": 0
                          },
                          "frame_style": {
                            "type": "string",
                            "default": ""
                          },
                          "actor": {
                            "type": "string",
                            "default": "无演员"
                          },
                          "scene": {
                            "type": "string",
                            "default": "根据产品自行设计"
                          },
                          "video_style": {
                            "type": "string",
                            "default": "短视频营销广告"
                          },
                          "language": {
                            "type": "string",
                            "default": "中文"
                          },
                          "narration": {
                            "type": "boolean",
                            "default": true
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "AiVideoRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowUserContext"
                  },
                  {
                    "type": "object",
                    "required": [
                      "request_json"
                    ],
                    "properties": {
                      "type": {
                        "type": "integer",
                        "default": 2
                      },
                      "request_json": {
                        "type": "object",
                        "required": [
                          "prompt",
                          "aspect_ratio",
                          "duration",
                          "resolution_option"
                        ],
                        "properties": {
                          "images": {
                            "type": "array",
                            "maxItems": 7,
                            "items": {
                              "type": "string",
                              "format": "uri"
                            }
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "aspect_ratio": {
                            "type": "integer",
                            "enum": [
                              0,
                              1,
                              2,
                              3,
                              4,
                              5
                            ]
                          },
                          "duration": {
                            "type": "integer"
                          },
                          "resolution_option": {
                            "$ref": "#/components/schemas/Resolution123"
                          },
                          "project_id": {
                            "type": "integer",
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "TariffRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorkflowUserContext"
              },
              {
                "type": "object",
                "required": [
                  "request_json"
                ],
                "properties": {
                  "type": {
                    "type": "integer",
                    "default": 7
                  },
                  "status": {
                    "type": "string",
                    "default": "Running"
                  },
                  "request_json": {
                    "type": "object",
                    "required": [
                      "from_country",
                      "to_country",
                      "year"
                    ],
                    "properties": {
                      "from_country": {
                        "type": "string"
                      },
                      "to_country": {
                        "type": "string"
                      },
                      "product": {
                        "type": "string",
                        "default": ""
                      },
                      "year": {
                        "type": "integer"
                      },
                      "HS_code": {
                        "type": "string",
                        "default": ""
                      }
                    },
                    "anyOf": [
                      {
                        "required": [
                          "product"
                        ]
                      },
                      {
                        "required": [
                          "HS_code"
                        ]
                      }
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "AiWeChatPushRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowUserContext"
                  },
                  {
                    "type": "object",
                    "required": [
                      "request_json"
                    ],
                    "properties": {
                      "type": {
                        "type": "integer",
                        "default": 8
                      },
                      "request_json": {
                        "type": "object",
                        "required": [
                          "paper",
                          "sample"
                        ],
                        "properties": {
                          "paper": {
                            "type": "string",
                            "description": "论文文件 URL."
                          },
                          "sample": {
                            "type": "string",
                            "description": "范文文件 URL."
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "EmojiPackageStatusRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OptionalIdStatusQuery"
          },
          {
            "type": "object",
            "properties": {
              "workflow_type": {
                "type": "integer",
                "enum": [
                  0,
                  2,
                  3
                ],
                "default": 2
              }
            }
          }
        ]
      },
      "LiveAiVideoRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowUserContext"
                  },
                  {
                    "type": "object",
                    "required": [
                      "request_json"
                    ],
                    "properties": {
                      "request_json": {
                        "type": "object",
                        "required": [
                          "prompt",
                          "resolution_option",
                          "duration",
                          "aspect_ratio"
                        ],
                        "properties": {
                          "channel_option": {
                            "type": "integer",
                            "enum": [
                              1
                            ],
                            "default": 1
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "resolution_option": {
                            "type": "integer",
                            "enum": [
                              1,
                              2
                            ]
                          },
                          "duration": {
                            "type": "integer"
                          },
                          "aspect_ratio": {
                            "$ref": "#/components/schemas/AspectRatio5"
                          },
                          "reference_urls": {
                            "$ref": "#/components/schemas/ReferenceUrls"
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "SeedanceAiVideoRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowUserContext"
                  },
                  {
                    "type": "object",
                    "required": [
                      "request_json"
                    ],
                    "properties": {
                      "request_json": {
                        "type": "object",
                        "required": [
                          "channel_option",
                          "prompt",
                          "resolution_option",
                          "duration",
                          "aspect_ratio"
                        ],
                        "properties": {
                          "channel_option": {
                            "type": "integer",
                            "enum": [
                              1,
                              2,
                              3
                            ]
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "resolution_option": {
                            "$ref": "#/components/schemas/Resolution123"
                          },
                          "duration": {
                            "type": "integer"
                          },
                          "aspect_ratio": {
                            "$ref": "#/components/schemas/AspectRatio5"
                          },
                          "reference_urls": {
                            "$ref": "#/components/schemas/ReferenceUrls"
                          },
                          "project_id": {
                            "type": "integer",
                            "default": 0
                          },
                          "task_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "SeedanceDiscountRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowUserContext"
                  },
                  {
                    "type": "object",
                    "required": [
                      "request_json"
                    ],
                    "properties": {
                      "request_json": {
                        "type": "object",
                        "required": [
                          "prompt",
                          "resolution_option",
                          "duration",
                          "aspect_ratio"
                        ],
                        "properties": {
                          "model_option": {
                            "type": "integer",
                            "enum": [
                              1
                            ],
                            "default": 1
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "resolution_option": {
                            "$ref": "#/components/schemas/Resolution123"
                          },
                          "duration": {
                            "type": "integer"
                          },
                          "aspect_ratio": {
                            "$ref": "#/components/schemas/AspectRatio5"
                          },
                          "reference_urls": {
                            "$ref": "#/components/schemas/ReferenceUrls"
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "SeedanceDiscountChannel1Request": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowUserContext"
                  },
                  {
                    "type": "object",
                    "required": [
                      "request_json"
                    ],
                    "properties": {
                      "request_json": {
                        "type": "object",
                        "required": [
                          "model_option",
                          "prompt",
                          "resolution_option",
                          "duration",
                          "aspect_ratio"
                        ],
                        "properties": {
                          "model_option": {
                            "type": "integer",
                            "enum": [
                              1,
                              2,
                              3,
                              4
                            ]
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "resolution_option": {
                            "$ref": "#/components/schemas/Resolution1236"
                          },
                          "duration": {
                            "type": "integer"
                          },
                          "aspect_ratio": {
                            "$ref": "#/components/schemas/AspectRatio3"
                          },
                          "reference_urls": {
                            "$ref": "#/components/schemas/ReferenceUrls"
                          },
                          "project_id": {
                            "type": "integer",
                            "default": 0
                          },
                          "task_id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "AiImageRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WorkflowCostFields"
          },
          {
            "type": "object",
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowUserContext"
                  },
                  {
                    "type": "object",
                    "required": [
                      "request_json"
                    ],
                    "properties": {
                      "request_json": {
                        "type": "object",
                        "required": [
                          "channel_option",
                          "prompt",
                          "resolution_option",
                          "aspect_ratio"
                        ],
                        "properties": {
                          "channel_option": {
                            "type": "integer",
                            "enum": [
                              1,
                              2
                            ]
                          },
                          "prompt": {
                            "type": "string"
                          },
                          "resolution_option": {
                            "$ref": "#/components/schemas/Resolution123"
                          },
                          "aspect_ratio": {
                            "$ref": "#/components/schemas/AspectRatio5"
                          },
                          "quality": {
                            "type": "integer",
                            "enum": [
                              1,
                              2,
                              3,
                              4
                            ],
                            "default": 1
                          },
                          "reference_urls": {
                            "$ref": "#/components/schemas/ReferenceUrls"
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "InterruptRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "is_interrupt": {
                "type": "integer",
                "default": 1
              }
            }
          }
        }
      },
      "HistoryListRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageRequest"
          },
          {
            "type": "object",
            "required": [
              "type",
              "workflow_type"
            ],
            "properties": {
              "type": {
                "type": "integer",
                "description": "历史记录类型."
              },
              "workflow_type": true,
              "start_time": {
                "type": "string",
                "default": ""
              },
              "end_time": {
                "type": "string",
                "default": ""
              },
              "keywords": {
                "type": "string",
                "maxLength": 50
              },
              "order": {
                "type": "string",
                "default": "a.create_time desc a.id asc"
              }
            }
          }
        ]
      },
      "HistoryDetailsRequest": {
        "type": "object",
        "required": [
          "history_id"
        ],
        "properties": {
          "history_id": {
            "type": "integer",
            "minimum": 1
          },
          "size": {
            "type": "integer",
            "default": 1000
          },
          "order": {
            "type": "string",
            "default": "id desc"
          }
        }
      },
      "HistoryImageListRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageRequest"
          },
          {
            "type": "object",
            "required": [
              "workflow_type"
            ],
            "properties": {
              "type": {
                "type": "integer",
                "default": 5
              },
              "workflow_type": {
                "type": "integer",
                "enum": [
                  0,
                  1,
                  2,
                  3
                ]
              }
            }
          }
        ]
      },
      "AssetListRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageRequest"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "integer"
              },
              "file_type": {
                "type": "string",
                "description": "素材类型, e.g. image, video, audio."
              },
              "keywords": {
                "type": "string",
                "maxLength": 50
              }
            }
          }
        ]
      },
      "AssetUploadRequest": {
        "type": "object",
        "required": [
          "file_url"
        ],
        "properties": {
          "file_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "file_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "AssetEditRequest": {
        "type": "object",
        "required": [
          "id",
          "data"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 1
          },
          "data": {
            "type": "object",
            "required": [
              "file_name"
            ],
            "properties": {
              "file_name": {
                "type": "string"
              }
            }
          }
        }
      },
      "DeleteIdsRequest": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "integer"
            }
          }
        }
      }
    }
  }
}
